/* MAIN SECCTION */
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    padding-top: 6.5rem;
}
.heading{
    color: white;
    font-size: 5rem;
    font-weight: 300;
    margin-left: 20rem;
    margin-right: 20rem;
    text-align: center;
}
.subheading{
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-top: -3.5rem;
    margin-bottom: 8rem;
    letter-spacing: 0.04rem;
    font-weight: 300;
}
.subHighlight{
    font-size: 1.3rem;
    margin-top: -0.8rem;
}
.scanBtn{
    background-color: white;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 2rem;
    font-size: 1.7rem;
    font-weight: 300;
    text-decoration: none;
    color: black;
}


/* TOOL SECTION */
.container2{
    min-height: 83vh;
}
input{
    background-color: #959595;
    border-radius: 1rem;
}
.contentBox{
    display: flex;
    flex-direction: column;
    background: rgba(30,30,30, 0.75);          
    backdrop-filter: blur(1.125rem);      
    -webkit-backdrop-filter: blur(1.125rem);
    border-radius: 24px;
    margin-left: 8rem;
    margin-right: 8rem;
}
.contentBoxHeading{
    color: #959595;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.1rem;
}
.gitORsite{
    width: 70%;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    background: rgba(40,40,40, 0.88);
    color: #fff;
    border: 1.5px solid rgba(255,255,255,0.08);
    margin-top: 2rem;
}

.gitANDsite{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin:  0 4rem 0 4rem;
    margin-top: 2rem;
    /* background-color:#282828; */
    /* border-radius: 1rem; */
}
.gitANDsite input{
    width: 40%;
    height: 48px;
    padding: 0 1rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    background: rgba(40,40,40, 0.88);
    color: #fff;
    border: 1.5px solid rgba(255,255,255,0.08);
}
input:focus {
    outline: none;
    border: 1.5px solid #ff8c1a;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    font-weight: 300;
    margin-top: 8rem;
    margin-bottom: 2rem;
}
.quickScan{
    background-color: #FF6600;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
}
.fullScan{
    background-color: white;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
}


/* OTHER DEVICES */
@media(max-width: 1420px){
    .container1{min-height: 65vh;}
    .heading{font-size: 3rem;margin-left: 2rem;margin-right: 2rem;}
    .subheading{font-size: 0.8rem; margin:0 1.5rem 0 1.5rem}
    .subHighlight{font-size: 1rem;}
    .box2{margin-top: 5rem;}
    .scanBtn{font-size: 1.3rem;}
    .contentBox{margin: 1.2rem;}
    .contentBoxHeading{font-size: 0.8rem; margin: 1.8rem;}
    .gitANDsite{flex-direction: column; gap: 1rem; margin-left: 3rem;margin-right: 3rem;}
    .gitANDsite input{width: 100%;}
    .btns{font-size: 1rem; gap: 3rem;margin-top: 4rem;}
    .quickScan{padding-left: 1rem;padding-right: 1rem;}
    .fullScan{padding-left: 1rem;padding-right: 1rem;}
}
@media(max-width: 992px){
    .container1{min-height: 65vh;}
    .heading{font-size: 3rem;margin-left: 2rem;margin-right: 2rem;}
    .subheading{font-size: 0.8rem; margin:0 1.5rem 0 1.5rem}
    .subHighlight{font-size: 1rem;}
    .box2{margin-top: 5rem;}
    .scanBtn{font-size: 1.3rem;}
    .contentBox{margin: 1.2rem;}
    .contentBoxHeading{font-size: 0.8rem; margin: 1.8rem;}
    .gitANDsite{flex-direction: column; gap: 1rem; margin-left: 3rem;margin-right: 3rem;}
    .gitANDsite input{width: 100%;}
    .btns{font-size: 1rem; gap: 3rem;margin-top: 4rem;}
    .quickScan{padding-left: 1rem;padding-right: 1rem;}
    .fullScan{padding-left: 1rem;padding-right: 1rem;}
}